.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 确保光标始终在顶层 */
.cursor-container {
  z-index: 9999;
  pointer-events: none;
}

/* 排除3D画布影响 */
canvas {
  pointer-events: none;
}

/* 交互元素穿透处理 */
.icon-hover-target {
  pointer-events: auto;
  cursor: none !important;
}